extends layout

block content
    form(method="POST" action='/')
        input(type="text" name="url" placeholder="Input your long URL")
        input(type="submit")
    .output
        p#output #{shortURL}